POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
DATABASE_URL=
REDIS_URL=
COMPOSE_DATABASE_URL=
COMPOSE_REDIS_URL=
REDIS_PORT=
API_PORT=
AUDIO_TEMP_DIR=
API_ADDR=
MAX_AUDIO_UPLOAD_MB=
OPENAI_API_KEY=
OPENAI_TRANSCRIPTION_MODEL=
OPENAI_TRANSLATION_MODEL=
WORKER_CONSUMER=
PROCESSING_STALE_AFTER_SECONDS=
PERMITTED_USER_REGISTRATION_CODE=
RECRUITER_REGISTRATION_CODE=
